# Phase 1: Data Understanding

| Column Name | Description |
| --- | --- |
| `Airline` | Name of the airline company |
| `Date_of_Journey` | Date when the journey takes place |
| `Source` | Departure city |
| `Destination` | Arrival city |
| `Route` | Flight route with transit points |
| `Dep_Time` | Departure time |
| `Arrival_Time` | Arrival time at destination |
| `Duration` | Total flight duration |
| `Total_Stops` | Number of stops between source and destination |
| `Additional_Info` | Additional information about the flight |
| `Price` | **Target Variable** - Ticket price in INR |

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [ ]:
df = pd.read_excel('D:/Courses/DL INTERNSHIP/SECOND PROJECT/project_structure/data/raw/Data_Train.xlsx')
df_original = df.copy()

In [38]:
print(f"Rows: {df.shape[0]:,}")
print(f"Columns: {df.shape[1]}")

Rows: 10,683
Columns: 11

In [39]:
df.columns.tolist()

['Airline',
 'Date_of_Journey',
 'Source',
 'Destination',
 'Route',
 'Dep_Time',
 'Arrival_Time',
 'Duration',
 'Total_Stops',
 'Additional_Info',
 'Price']

In [40]:
df.head(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
5,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087
7,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270
8,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087
9,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625

In [41]:
df.tail(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
10673,Jet Airways,27/05/2019,Delhi,Cochin,DEL → AMD → BOM → COK,13:25,04:25 28 May,15h,2 stops,No info,16704
10674,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,20:35,21:20 13 Mar,24h 45m,1 stop,In-flight meal not included,11087
10675,Air India,9/06/2019,Mumbai,Hyderabad,BOM → HYD,06:20,07:40,1h 20m,non-stop,No info,3100
10676,Multiple carriers,1/05/2019,Delhi,Cochin,DEL → BOM → COK,10:20,19:00,8h 40m,1 stop,No info,9794
10677,SpiceJet,21/05/2019,Banglore,Delhi,BLR → DEL,05:55,08:35,2h 40m,non-stop,No check-in baggage included,3257
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [42]:
df.sample(10, random_state=42)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6076,Jet Airways,18/05/2019,Kolkata,Banglore,CCU → BOM → BLR,05:45,18:15,12h 30m,1 stop,In-flight meal not included,10844
3544,GoAir,3/06/2019,Delhi,Cochin,DEL → BOM → COK,10:35,19:35,9h,1 stop,No info,4959
7313,Jet Airways,1/05/2019,Kolkata,Banglore,CCU → BOM → BLR,14:05,19:50,5h 45m,1 stop,No info,14781
5032,IndiGo,24/05/2019,Chennai,Kolkata,MAA → CCU,14:45,17:05,2h 20m,non-stop,No info,3858
2483,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,22:50,04:25 22 May,5h 35m,1 stop,In-flight meal not included,12898
9894,Multiple carriers,6/05/2019,Delhi,Cochin,DEL → BOM → COK,07:30,19:00,11h 30m,1 stop,No info,10529
346,Jet Airways,27/05/2019,Delhi,Cochin,DEL → BOM → COK,10:00,19:00,9h,1 stop,No info,16079
6366,Jet Airways,15/04/2019,Banglore,Delhi,BLR → DEL,19:50,22:50,3h,non-stop,No info,7229
8270,SpiceJet,21/06/2019,Chennai,Kolkata,MAA → CCU,17:45,20:05,2h 20m,non-stop,No info,3597
3393,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,19:00,11h,1 stop,No info,16289

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [44]:
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [45]:
df.describe().round(2)

          Price
count  10683.00
mean    9087.06
std     4611.36
min     1759.00
25%     5277.00
50%     8372.00
75%    12373.00
max    79512.00

In [46]:
df.describe(include='O')

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,10683,10683,10683,10683,10682,10683,10683,10683,10682,10683
unique,12,44,5,6,128,222,1343,368,5,10
top,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,18:55,19:00,2h 50m,1 stop,No info
freq,3849,504,4537,4537,2376,233,423,550,5625,8345

In [ ]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [49]:
print(f"Duplicate rows: {df.duplicated().sum()}")
print(f"Percentage: {df.duplicated().sum() / len(df) * 100:.2f}%")

Duplicate rows: 220
Percentage: 2.06%

In [50]:
df.nunique()

Airline              12
Date_of_Journey      44
Source                5
Destination           6
Route               128
Dep_Time            222
Arrival_Time       1343
Duration            368
Total_Stops           5
Additional_Info      10
Price              1870
dtype: int64

In [51]:
df['Airline'].value_counts()

Airline
Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: count, dtype: int64

In [52]:
df['Source'].value_counts()

Source
Delhi       4537
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: count, dtype: int64

In [53]:
df['Destination'].value_counts()

Destination
Cochin       4537
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: count, dtype: int64

In [54]:
df['Total_Stops'].value_counts()

Total_Stops
1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: count, dtype: int64

In [55]:
df['Additional_Info'].value_counts()

Additional_Info
No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: count, dtype: int64

In [ ]:
df['Duration'].head(10).tolist()

['2h 50m',
 '7h 25m',
 '19h',
 '5h 25m',
 '4h 45m',
 '2h 25m',
 '15h 30m',
 '21h 5m',
 '25h 30m',
 '7h 50m']

In [ ]:
df['Date_of_Journey'].head(10).tolist()

['24/03/2019',
 '1/05/2019',
 '9/06/2019',
 '12/05/2019',
 '01/03/2019',
 '24/06/2019',
 '12/03/2019',
 '01/03/2019',
 '12/03/2019',
 '27/05/2019']

In [ ]:
df['Dep_Time'].head(10).tolist()

['22:20',
 '05:50',
 '09:25',
 '18:05',
 '16:50',
 '09:00',
 '18:55',
 '08:00',
 '08:55',
 '11:25']

In [ ]:
df['Arrival_Time'].head(10).tolist()

['01:10 22 Mar',
 '13:15',
 '04:25 10 Jun',
 '23:30',
 '21:35',
 '11:25',
 '10:25 13 Mar',
 '05:05 02 Mar',
 '10:25 13 Mar',
 '19:15']

In [ ]:
df['Route'].head(10).tolist()

['BLR → DEL',
 'CCU → IXR → BBI → BLR',
 'DEL → LKO → BOM → COK',
 'CCU → NAG → BLR',
 'BLR → NAG → DEL',
 'CCU → BLR',
 'BLR → BOM → DEL',
 'BLR → BOM → DEL',
 'BLR → BOM → DEL',
 'DEL → BOM → COK']

In [61]:
df['Price'].describe()

count    10683.000000
mean      9087.064121
std       4611.359167
min       1759.000000
25%       5277.000000
50%       8372.000000
75%      12373.000000
max      79512.000000
Name: Price, dtype: float64

In [62]:
print(f"Skewness: {df['Price'].skew():.2f}")
print(f"Kurtosis: {df['Price'].kurtosis():.2f}")

Skewness: 1.81
Kurtosis: 13.30

In [ ]:
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['Price'] < lower_bound) | (df['Price'] > upper_bound)]

print(f"Lower Bound: {lower_bound:,.0f}")
print(f"Upper Bound: {upper_bound:,.0f}")
print(f"Outliers: {len(outliers)} ({len(outliers)/len(df)*100:.2f}%)")

Lower Bound: -5,367
Upper Bound: 23,017
Outliers: 94 (0.88%)

##  Phase 1 Summary

In [64]:
print("1. DATASET OVERVIEW")
print(f"   Rows: {df.shape[0]:,}")
print(f"   Columns: {df.shape[1]}")
print(f"   Memory: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

print("\n2. COLUMN NAMES & TYPES")
for col in df.columns:
    print(f"   {col}: {df[col].dtype}")

print("\n3. MISSING VALUES")
for col in df.columns:
    missing_count = df[col].isnull().sum()
    missing_pct = df[col].isnull().mean() * 100
    print(f"   {col}: {missing_count} ({missing_pct:.2f}%)")

print(f"\n4. DUPLICATES")
print(f"   Count: {df.duplicated().sum()}")
print(f"   Percentage: {df.duplicated().sum() / len(df) * 100:.2f}%")

print("\n5. UNIQUE VALUES PER COLUMN")
for col in df.columns:
    print(f"   {col}: {df[col].nunique()}")

print("\n6. CATEGORICAL VALUE COUNTS")
categorical_cols = ['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info']
for col in categorical_cols:
    if col in df.columns:
        print(f"\n   {col}:")
        for value, count in df[col].value_counts().items():
            print(f"      {value}: {count}")

print("\n7. SAMPLE VALUES - TEXT COLUMNS")
text_cols = ['Duration', 'Date_of_Journey', 'Dep_Time', 'Arrival_Time', 'Route']
for col in text_cols:
    if col in df.columns:
        print(f"   {col}: {df[col].head(5).tolist()}")

print("\n8. TARGET VARIABLE (Price)")
print(f"   Count: {df['Price'].count():,}")
print(f"   Mean: {df['Price'].mean():,.2f}")
print(f"   Median: {df['Price'].median():,.2f}")
print(f"   Std: {df['Price'].std():,.2f}")
print(f"   Min: {df['Price'].min():,}")
print(f"   Max: {df['Price'].max():,}")
print(f"   Skewness: {df['Price'].skew():.2f}")
print(f"   Kurtosis: {df['Price'].kurtosis():.2f}")

# Outliers
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers_count = len(df[(df['Price'] < lower_bound) | (df['Price'] > upper_bound)])

print(f"\n9. OUTLIERS (Price - IQR Method)")
print(f"   Q1: {Q1:,.0f}")
print(f"   Q3: {Q3:,.0f}")
print(f"   IQR: {IQR:,.0f}")
print(f"   Lower Bound: {lower_bound:,.0f}")
print(f"   Upper Bound: {upper_bound:,.0f}")
print(f"   Outliers Count: {outliers_count} ({outliers_count/len(df)*100:.2f}%)")

print("\n10. NUMERICAL SUMMARY")
print(df.describe().round(2).to_string())

1. DATASET OVERVIEW
   Rows: 10,683
   Columns: 11
   Memory: 6.24 MB

2. COLUMN NAMES & TYPES
   Airline: object
   Date_of_Journey: object
   Source: object
   Destination: object
   Route: object
   Dep_Time: object
   Arrival_Time: object
   Duration: object
   Total_Stops: object
   Additional_Info: object
   Price: int64

3. MISSING VALUES
   Airline: 0 (0.00%)
   Date_of_Journey: 0 (0.00%)
   Source: 0 (0.00%)
   Destination: 0 (0.00%)
   Route: 1 (0.01%)
   Dep_Time: 0 (0.00%)
   Arrival_Time: 0 (0.00%)
   Duration: 0 (0.00%)
   Total_Stops: 1 (0.01%)
   Additional_Info: 0 (0.00%)
   Price: 0 (0.00%)

4. DUPLICATES
   Count: 220
   Percentage: 2.06%

5. UNIQUE VALUES PER COLUMN
   Airline: 12
   Date_of_Journey: 44
   Source: 5
   Destination: 6
   Route: 128
   Dep_Time: 222
   Arrival_Time: 1343
   Duration: 368
   Total_Stops: 5
   Additional_Info: 10
   Price: 1870

6. CATEGORICAL VALUE COUNTS

   Airline:
      Jet Airways: 3849
      IndiGo: 2053
      Air India: 1752
      Multiple carriers: 1196
      SpiceJet: 818
      Vistara: 479
      Air Asia: 319
      GoAir: 194
      Multiple carriers Premium economy: 13
      Jet Airways Business: 6
      Vistara Premium economy: 3
      Trujet: 1

   Source:
      Delhi: 4537
      Kolkata: 2871
      Banglore: 2197
      Mumbai: 697
      Chennai: 381

   Destination:
      Cochin: 4537
      Banglore: 2871
      Delhi: 1265
      New Delhi: 932
      Hyderabad: 697
      Kolkata: 381

   Total_Stops:
      1 stop: 5625
      non-stop: 3491
      2 stops: 1520
      3 stops: 45
      4 stops: 1

   Additional_Info:
      No info: 8345
      In-flight meal not included: 1982
      No check-in baggage included: 320
      1 Long layover: 19
      Change airports: 7
      Business class: 4
      No Info: 3
      1 Short layover: 1
      Red-eye flight: 1
      2 Long layover: 1

7. SAMPLE VALUES - TEXT COLUMNS
   Duration: ['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m']
   Date_of_Journey: ['24/03/2019', '1/05/2019', '9/06/2019', '12/05/2019', '01/03/2019']
   Dep_Time: ['22:20', '05:50', '09:25', '18:05', '16:50']
   Arrival_Time: ['01:10 22 Mar', '13:15', '04:25 10 Jun', '23:30', '21:35']
   Route: ['BLR → DEL', 'CCU → IXR → BBI → BLR', 'DEL → LKO → BOM → COK', 'CCU → NAG → BLR', 'BLR → NAG → DEL']

8. TARGET VARIABLE (Price)
   Count: 10,683
   Mean: 9,087.06
   Median: 8,372.00
   Std: 4,611.36
   Min: 1,759
   Max: 79,512
   Skewness: 1.81
   Kurtosis: 13.30

9. OUTLIERS (Price - IQR Method)
   Q1: 5,277
   Q3: 12,373
   IQR: 7,096
   Lower Bound: -5,367
   Upper Bound: 23,017
   Outliers Count: 94 (0.88%)

10. NUMERICAL SUMMARY
          Price
count  10683.00
mean    9087.06
std     4611.36
min     1759.00
25%     5277.00
50%     8372.00
75%    12373.00
max    79512.00